<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block>

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Boil To Go</title>
        <link rel="stylesheet" href="/css/reset-css.css"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link href="/css/style-profile.css" rel="stylesheet"/>
        <link href="/css/style-cups.css" rel="stylesheet"/>
<!--        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>-->
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </head>
</th:block>


<!--                <link rel="icon" type="image/png" sizes="32x32" href="images/boilTogo6.png">-->
<!--                <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">-->
<!--                <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">-->
<!--                <link rel="manifest" href="/manifest.json">-->
<!--                <meta name="msapplication-TileColor" content="#ffffff">-->
<!--                <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">-->
<!--                <meta name="theme-color" content="#ffffff">-->


</html>