<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/head}"></script></head>


<body>

<main class="p-5 align-content-center bg-blur">
    <header th:include="~{fragments/nav}"></header>

    <div class="page-wrapper">
        <div class="container">

            <div class="portfolio1 spacer">
                <div class="container">
                    <div class="row portfolio-box megamenu-padding-box">

                        <div class="col-lg-3 col-md-6 col-xs-6 col-sm-4 filter abstract print">
                            <div class="overlay-box">
                                <img alt="Хартиени изделия"
                                     class="img-fluid"
                                     src="https://andika.bg/api/uploads/shop/banners/p-3-i-pK7LEtR8YlhFdiWnNxUr.jpg">
                                <a class="overlay" href="/category/90-hartieni-izdelia.html">
                                    <div class="port-text">
                                        <h5>Хартиени изделия</h5>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-xs-6 col-sm-4 filter abstract print">
                            <div class="overlay-box">
                                <img alt="Торбички и пликове"
                                     class="img-fluid"
                                     src="https://andika.bg/api/uploads/shop/banners/p-4-i-TNIuQip8NGXk2A5CpFNa.jpg">
                                <a class="overlay" href="/category/36-torbichki-i-plikove.html">
                                    <div class="port-text">
                                        <h5>Торбички и пликове</h5>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-xs-6 col-sm-4 filter abstract print">
                            <div class="overlay-box">
                                <img alt="Einweggeschirr"
                                     class="img-fluid"
                                     src="https://res.cloudinary.com/dhlyb92n1/image/upload/v1642338036/Boil%20To%20Go/Trinkbecher/einweggeschirr_puyoka.jpg">
                                <a class="overlay" th:href="@{/category/1-disposable-packaging-bv1}">
                                    <div class="port-text">
                                        <h5>Einweggeschirr</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-6 col-sm-4 filter abstract print">
                            <div class="overlay-box">
                                <img alt="Картонени опаковки"
                                     class="img-fluid"
                                     src="https://andika.bg/api/uploads/shop/banners/p-6-i-n6yX2P8tAHc1DH6stFB5.jpg">
                                <a class="overlay" href="/category/62-kartoneni-opakovki.html">
                                    <div class="port-text">
                                        <h5>Картонени опаковки</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-6 col-sm-4 filter abstract print">
                            <div class="overlay-box">
                                <img alt="Препарати и средства за почистване"
                                     class="img-fluid"
                                     src="https://andika.bg/api/uploads/shop/banners/p-8-i-yroaUQbwomugWOmVfEPE.jpg">
                                <a class="overlay" href="/category/91-preparati-i-sredstva-za-pochistvane.html">
                                    <div class="port-text">
                                        <h5>Препарати и средства за почистване</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-6 col-sm-4 filter abstract print">
                            <div class="overlay-box">
                                <img alt="Хотелска козметика и консумативи"
                                     class="img-fluid"
                                     src="https://andika.bg/api/uploads/shop/banners/p-9-i-Aw5tpzmztbFKXPGwiKsK.jpg">
                                <a class="overlay" href="/category/83-hotelska-kozmetika-i-konsumativi.html">
                                    <div class="port-text">
                                        <h5>Хотелска козметика и консумативи</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-6 col-sm-4 filter abstract print">
                            <div class="overlay-box">
                                <img alt="Дозатори"
                                     class="img-fluid"
                                     src="https://andika.bg/api/uploads/shop/banners/p-10-i-8pgc308M9kLCSOx4XTqq.jpg">
                                <a class="overlay" href="/category/21-dozatori.html">
                                    <div class="port-text">
                                        <h5>Дозатори</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-6 col-sm-4 filter abstract print">
                            <div class="overlay-box">
                                <img alt="Други"
                                     class="img-fluid"
                                     src="https://andika.bg/api/uploads/shop/banners/p-11-i-dkPEXclqYbHbzrLZyuHe.jpg">
                                <a class="overlay" href="/category/28-drugi-produkti.html">
                                    <div class="port-text">
                                        <h5>Други</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr class="border-bottom w-50">

    <div class="mt-5 col-sm-12 my-auto " id="searchBar">
        <input aria-label="Search" class="form-control mr-sm-2 w-50" id="searchInput"
               placeholder="Enter articles title or articles name" type="search">

    </div>


    <hr class="border-bottom w-75">
    <div class="row mt-5" id="articlesList">
        <!--        &lt;!&ndash; Start single album &ndash;&gt;-->
        <!--        <div class="col-md-3">-->
        <!--            <div class="card mb-4 box-shadow">-->
        <!--                <img alt="Thumbnail [100%x225]" class="card-img-top" data-holder-rendered="true"-->
        <!--                     style="height: 225px; width: 100%; display: block;"-->
        <!--                     th:src="@{/images/metallica-2.png}">-->
        <!--                <div class="card-body">-->
        <!--                    <div class="text-center">-->
        <!--                        <p class="card-text border-bottom ">Article name: Name of article</p>-->
        <!--                        <p class="card-text border-bottom ">Model: model</p>-->
        <!--                        <p class="card-text border-bottom ">Item code: CDE</p>-->
        <!--                        <p class="card-text border-bottom ">Price: 19.99</p>-->
        <!--                        <p class="card-text border-bottom">Release Date: </p>-->
        <!--                    </div>-->
        <!--                    <div class="d-flex justify-content-between align-items-center">-->
        <!--                        <div class="btn-group">-->
        <!--                            <a class="btn btn-sm btn-outline-secondary" type="button">Details</a>-->
        <!--                        </div>-->
        <!--                        <div class="btn-group">-->
        <!--                            <a class="btn btn-sm btn-outline-secondary" type="button">Delete</a>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--         EO: Start single album-->
    </div>


</main>
<footer th:include="~{fragments/footer}"></footer>

<script th:src="@{js/search-bar.js}"></script>
</body>
</html>
