<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/head}"></head>
<body>
<main class="p-5 align-content-center bg-blur my-register-div">

    <header th:include="~{fragments/nav}"></header>

    <h1 class="text-light    border-bottom mb-5">Login</h1>
    <div class="d-flex justify-content-center">

        <!--carousel-->
        <div class="carousel slide " data-ride="carousel" id="carouselExampleIndicators">

            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#carouselExampleIndicators"></li>
                <li data-slide-to="1" data-target="#carouselExampleIndicators"></li>
                <li data-slide-to="2" data-target="#carouselExampleIndicators"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <a th:href="@{#}">
                        <img alt="First slide" class="d-block w-10 rounded"
                             th:src="@{/images/{images}(images=${firstImg})}"> </a>

                </div>
                <div class="carousel-item">
                    <a th:href="@{/#}">
                        <img alt="Second slide" class="d-block w-10 rounded"
                             th:src="@{/images/{images}(images=${secondImg})}"></a>
                </div>
                <div class="carousel-item">
                    <img alt="Third slide" class="d-block w-10 rounded"
                         th:src="@{/images/{images}(images=${thirdImg})}">
                </div>
            </div>

        </div>
        <!--carousel-->

        <div class="row g-3 align-items-center">

            <div class="alert alert-danger" role="alert" th:if="${bad_credentials}">
                Diese Kombination aus Benutzername und Passwort existiert nicht.
            </div>
            <form th:action="@{/users/login}" th:method="POST" th:object="${addUserLoginBindingModel}">
                <!--User name-->
                <div>
                    <div class="col-auto">
                        <label class="col-form-label  " for="inputUsername"></label>
                    </div>
                    <div class="col-auto">
                        <input type="text"
                               name="username"
                               minlength="3"
                               placeholder="Username"
                               required th:value="${username}"
                               th:errorclass="is-invalid"
                               id="inputUsername"
                               class="form-control"
                               aria-describedby="usernameHelpInline">
                    </div>
                </div>
                <!--EO: User name-->

                <!-- Password -->
                <div>
                    <div class="col-auto">
                        <label class="col-form-label text-light" for="inputPassword"></label>
                    </div>
                    <div class="col-auto">
                        <input class="form-control" id="inputPassword"
                               minlength="3"
                               name="password" placeholder="Password"

                               required type="password"
                               aria-describedby="passwordHelpInline">
                    </div>
                </div>

<!--                                <a th:href="@{/forget-Password.html}"th:text="#{message.resetPassword}">reset</a>-->

<!--                <div class="container">-->
<!--                    <div class="row mt-5">-->
<!--                        <div class="col">-->
                            <a th:href="@{/users/reset-password}">reset password</a>
<!--                            <th:block th:replace="_modals :: modal('exampleModal2')">modal</th:block>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="d-flex justify-content-center mt-2">
                    <!--                    <button class="btn btn-primary btn-block w-50" type="submit">Login</button>-->
                    <button class="btn btn-sm btn-outline-secondary w-75" type="submit">LOGIN</button>
                </div>
                <!-- EO: Password -->
            </form>
        </div>

    </div>
</main>
<!--<script th:src="@{/webjars/jquery/jquery.min.js}"></script>-->
<!--<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>-->
<!--<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->

<script>
    // $('#exampleModal1').on('show.bs.modal', function () {
    //     $.get("/modals/modal1", function (data) {
    //         $('#exampleModal1').find('.modal-body').html(data);
    //     })
    // });

    $('#exampleModal2').on('show.bs.modal', function () {
        var name = prompt("Please enter your name", "John Doe");
        $.get("/modals/modal2?name=" + name, function (data) {
            $('#exampleModal2').find('.modal-body').html(data);
        })
    })
</script>
<footer th:include="~{fragments/footer}"></footer>
</body>
</html>
