<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/head}"></head>
<body>
<main class="p-5 align-content-center bg-blur my-register-div">

    <header th:include="~{fragments/nav}"></header>


    <h1 class="text-light    border-bottom mb-5">New Password </h1>


    <div class="d-flex justify-content-center"    >

        <!-- new password -->


        <div th:object="${token}" >
            <form th:action="@{/reset}" th:method="POST" th:object="${newPasswordDto}">

                <div class="col-auto"         >
                    <label class="col-form-label text-light" for="inputNewPassword"></label>
                </div>


                <div class="col-auto"  >

                    <input aria-describedby="newPasswordHelpInline" class="form-control"
                           id="inputNewPassword" required
                           minlength="3"
                           th:id="inputNewPassword"
                           th:name="newPassword"
                           th:placeholder="password"
                    >


                    <!--                    <small class="invalid-feedback text-light form-text bg-danger rounded"-->
                    <!--                           th:errors="*{email}"-->
                    <!--                           th:id="confirmPasswordError" th:if="${#fields.hasErrors('email')}">-->
                    <!--                        We didn't find an account for that e-mail address.-->
                    <!--                    </small>-->
                    <!--                </div>-->
                    <!--            </div>-->


                    <div>
                        <div class="col-auto">
                            <label class="col-form-label text-light" for="inputConfirmPassword"></label>
                        </div>

                        <div class="col-auto">
                            <input aria-describedby="newConfirmPasswordHelpInline" class="form-control"
                                   id="inputConfirmPassword" required
                                   minlength="3"
                                   th:id="inputConfirmPassword"
                                   th:name="confirmPassword"
                                   placeholder="confirm password"

                            >
                            <!--                                        <small class="invalid-feedback text-light form-text bg-danger rounded"-->
                            <!--                                               th:errors="*{email}"-->
                            <!--                                               th:id="confirmPasswordError" th:if="${#fields.hasErrors('email')}">-->
                            <!--                                            We didn't find an account for that e-mail address.-->
                            <!--                                        </small>-->
                            <!--                </div>-->
                            <!--            </div>-->


                            <!-- EO: new password -->


                            <div class="d-flex justify-content-center mt-2">
                                <!--                    <button class="btn btn-primary btn-block w-50" type="submit">Login</button>-->
                                <button class="btn btn-sm btn-outline-secondary w-75" type="submit">SENDEN</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</main>
</body>
</html>